{% extends 'blog/base.html' %}
{% load staticfiles %}
{% load django_markdown %}

{% block content %}
    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">           		 
                    <a href="#">
                        <img class="img-responsive" src="{% static 'img/post-sample-image.jpg' %}" alt="">
                    </a>
                      {% if post.published_date %}
         			   {{ post.published_date }}
       		 {% endif %}
                      <h1>{{ post.title }}</h1>
    		<p>{{ post.text|markdown }}</p>

               </div>
            </div>
        </div>
    </article>
   {% endblock %}